.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://unsplash.com/photos/phIFdC6lA4E');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: aliceblue;
}

.header-container {
  /* padding-top: 50px; */
  background-color: black;
}